@import "./_partials/typography";

body,
html {
  padding: 0;
  margin: 0;
}

.main {
  min-height: 100vh;
  display: flex;
}

.inner-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.nav {
  background-color: pink;
}

.sidebar {
  background-color: wheat;
  display: flex;
  flex-direction: column;

  .notes {
    flex: 1;
  }
}

.editor {
  flex: 1;
  background-color: yellowgreen;
}

.sidebar {
  border-right: 2px groove #666;
}

.center {
  margin: auto;
}

.main {
  background: url("./images/space-bg.jpg") center/cover no-repeat;
}
